<h1>Hey <%= @user.first_name %>,</h1>

<p>Thank you for ordering with us!</p>

<p>you ordered the following items</p>

  <% @order.order_items.each do |item| %>
        <tr>
          <td><%= image_tag item.product.image_url(:thumb).to_s %></td>
          <td><%= item.product.title %></td>
          <td><%= item.quantity %></td>
          <td><%=number_to_currency(item.product.price) %></td>
          <td><%= number_to_currency(item.subtotal) %></td>
        </tr>
      <% end %>