
  <h1>Your Order</h1>

  <%= form_for @order do |f| %>
   <table class="table-center">
      <tr>
        <th>Name</th>
        <td><%= @order.user.name if @order.user %></td>
      </tr>
      <tr>
        <th>Order Status:</th>
        <% if @order.status == nil %>
        <td>Not submitted</td>
        <% else %>
        <td><%= @order.status %></td>
        <% end %>
      </tr>
      <tr>
        <th>Items:</th>
        <td><%= @order.order_items.count %></td>
      </tr>
      <tr>
        <th>Items</th>
        <th>Title</th>
        <th>Quantity</th>
        <th colspan="2">Stock</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
        
        <th>Delete</th>
      </tr>
      <tr>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= image_tag item.product.image_url(:thumb).to_s %></td>
          <td><%= item.product.title %></td>
          <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
          <td colspan="2"><%= display_stock item.product.stock, item.quantity %></td>
          <td><%= print_price item.product.price %></td>
          <td><%= print_price item.subtotal %></td>
          <td><%= link_to "Delete", item, data: {confirm: "Are you sure?"}, method: :delete ,class: "button alert" %></td>
        </tr>
      <% end %>
        <tr>
          <% if current_user != nil %>
          <th>Shipping To:</th>
          <th colspan="4">
            <%= link_to (f.select :address_id, current_user.addresses.collect{|a| [a.to_s, a.id]}), class: "button alert round split" %>
            <%= f.hidden_field :address_id %>
            Or, <%= link_to "Add new address", new_address_path %>
          </th>
          <th><%= print_price @order.total %></td>
          <th colspan="2">is your Total</th>
        </tr>
        <tr>  
            <td colspan="8"><%= f.submit "Submit Order", class: "button success round" %></td>
          <% else %>
            <p>Please sign in to submit!</p>
          <% end %>
        </tr>
    </table>
  <% end %>



  <ul class="inline-list">
    <li class=""><%= link_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete, class: "button" %></li>
    <li class=""><%= link_to "Continue Shopping", store_path, class: "button success" %></dd></li>
  </ul>

