<div class="row">
    <div class="tewlve columns">
      <h2 class="light-weight">Local Makers Products</h2>
    </div>
  </div>

<div class="row">
    <div class="tewlve columns">
      <ul class="product block-grid products four-up">
      	<% @products.each do |product| %>
        <li>
            <span class="top local_maker"><%= image_tag product.image_url(:thumb).to_s %></span>
            <h3 class="local_maker"><%= product.title %></h3>
            <p><%= truncate(strip_tags(product.description), :length => 250 )%></p>
            <h6 class="about"><%= print_price(product.price) %></h6>
            <%= link_to "Show", product_path(product), class: "secondary small button radius" %>
            <% if current_user && (current_user.id == product.user_id) %>
							<%= link_to 'Edit', edit_product_path(product), class: "secondary small button radius" %><br> 
						<% end %>
          <hr>
        </li>
      <% end %>
    </ul>
      
    </div>
    <p> <%= link_to "Create a New Product", new_product_path, class: "button success button-wrap" %> </p>
  </div>
