<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>

<h1>Local Makers Catalog</h1>

<% @products.each do |pro| %>
  <div>
    <p><%= image_tag "products/#{pro.image_url}" %></p> 
    <h3><%= pro.title %></h3> 
    <p><%= pro.description %></p>
    <span><strong><%= print_price(pro.price) %></strong></span>
  </div>
<% end %>