

<% if notice %>
  <p id="notice"><%= notice %></p> 
<% end %>
<% @products.each do |product| %>

    <li class="span3">
      <div class="thumbnail-style thumbnail-kenburn">
        <div class="thumbnail-img">
          <div class="overflow-hidden">
            <%= image_tag product.image_url(:thumb).to_s %>
          </div>
          <%= link_to "Add to Cart", order_items_path(product_id: product.id), class: "btn-more hover-effect", method: :post %>         
        </div>
        <h3><a class="hover-effect" ><%= link_to product.title, product_path(product) %></a></h3>
        <p><%= product.description %></p>
        <strong><%= print_price(product.price) %></strong>
      </div>
    </li>
<% end %>

  </ul><!--/thumbnails-->
<!-- //End Recent Works -->