  <div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
          <strong><h2><%= link_to "Local Makers", store_path %> </h2></strong>
        </div>
        <!-- /logo -->        

        <!-- Menu -->       
        <div class="navbar">                                
          <div class="navbar-inner">                                  
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a><!-- /nav-collapse -->                                  
            <div class="nav-collapse collapse">                                     
              <ul class="nav top-2">
                <li><%= link_to "Home", store_path,         class: "dropdown-toggle" %></li>
                <li><%= link_to "About",  about_path,       class: "dropdown-toggle" %></li>
                <li><%= link_to "Products", products_path,  class: "dropdown-toggle" %></li>
                <li><%= link_to "Contact", contact_path,    class: "dropdown-toggle" %></li>
                <li>
                  <a class="search"><i class="icon-search search-btn"></i></a>
                </li>                               
              </ul>
              <div class="search-open">
                <div class="input-append">

                  <% form_tag products_path, :method => 'get' do %>
                    <p>
                      <%= text_field_tag :search, params[:search], class: 'span3', placeholder: 'Search' %>
                      <%= submit_tag "Go", :name => nil, class: 'btn-u' %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div><!-- /nav-collapse -->                                
          </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
  </div><!-- /header -->  