  <div class="header">               
    <div class="container"> 
        <!-- Logo -->       
        <div class="logo">                                             
          <%= link_to image_tag("/assets/logo1-default.png", id: "logo-header"), store_path %> 
        </div>
        <!-- /logo -->        

        <!-- Menu -->       
        <div class="navbar">                                
          <div class="navbar-inner">                                  
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a><!-- /nav-collapse -->                                  
            <div class="nav-collapse collapse">                                     
              <ul class="nav top-2">
                <li class="active">
                  <%= link_to store_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %> Home
                  <% end %>                      
                </li>

                <li>
                  <%= link_to about_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>About
                  <% end %>                        
                </li>

                <li>
                  <%= link_to products_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>Products
                  <% end %>                                                              
                </li>

                <li>
                  <%= link_to contact_path, class: "dropdown-toggle", data: {toggle: "dropdown"} do %>Contact
                  <% end %>                     
                </li>

                <li>
                  <a class="search"><i class="icon-search search-btn"></i></a>
                </li>                               
              </ul>
              <div class="search-open">
                <div class="input-append">

                  <% form_tag products_path, :method => 'get' do %>
                    <p>
                      <%= text_field_tag :search, params[:search], class: 'span3', placeholder: 'Search' %>
                      <%= submit_tag "Go", :name => nil, class: 'btn-u' %>
                    </p>
                  <% end %>
                </div>
              </div>
            </div><!-- /nav-collapse -->                                
          </div><!-- /navbar-inner -->
        </div><!-- /navbar -->                          
    </div><!-- /container -->               
  </div><!-- /header -->  