<!-- top -->
  <div class="top">
    <div class="container">     
      <ul class="loginbar pull-right">
        <% if current_user %>
          Logged in as <%= current_user.email %>
          <li><%= link_to "Signout", logout_path, class: "login-btn" %></li> 
        <% else %>
          <li><%= link_to "Signup", signup_path, class: "login-btn" %></li> 
          <li class="devider">&nbsp;</li>
          <li><%= link_to "Signin", login_path, class: "login-btn" %></li>
        <% end %>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>   
      </ul>
    </div>    
  </div>