<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Those Who Makes", store_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Browse Products", products_path %></li>
      <li class="divider"></li>
      <li><%= link_to "About", about_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Cart", products_path %></li>
      
      <% if current_user %>
        Logged in as <%= current_user.email %>
        <li><%= link_to "Signout", logout_path, class: "" %></li> 
      <% else %>
        <li><%= link_to "Signup", signup_path, class: "" %></li> 
        <li class="devider">&nbsp;</li>
        <li><%= link_to "Signin", login_path, class: "" %></li>
      <% end %>
    </ul>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %> 
  </div>
</nav>

<div class="row">
<div class="large-12 columns">
  <% form_tag products_path, :method => 'get' do %>
  <div class="row collapse">
    <div class="small-10 columns">
      <input type="text" placeholder="Hex Value">
      <%= text_field_tag :search, params[:search], class: 'span3', placeholder: 'Search' %>
    </div>
    <div class="small-2 columns">
      <a href="#" class="button prefix">Search</a>
      <%= submit_tag "Go", :name => nil, class: 'btn-u' %>
    </div>
  </div>
  <% end %>
</div>
</div>