<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Local Makers" %></title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/styles' %>
</head>
<body style="zoom: 1;">
  <%= render 'layouts/top' %>
  <%= render 'layouts/header' %>
  <%= render 'layouts/cats' %>
  <%= render 'layouts/slider' %>
  <%= render 'layouts/intro' %>
  <!--=== Content Part ===-->
  <div class="container"> 
    <%= yield %> 
  </div><!--/container-->   
  <!-- End Content Part --> 
  <%= render 'layouts/footer' %>
  <%= render 'layouts/copyright' %>
  <%= render 'layouts/js' %>
</body>
</html> 